<ion-view title="Scoutr Data"  left-buttons="leftButtons" right-buttons="rightButtons">

  <ion-tabs tabs-type="tabs-icon-only">
      <ion-tab title="Pit Data" icon-on="ion-person-stalker" icon-off="ion-person-stalker">
          <ion-content has-header="true" padding="true"overflow-scroll="true">
            <h2>Pit Data</h2>
          </ion-content>
      </ion-tab>

      <ion-tab title="Match Data" icon-on="ion-arrow-swap" icon-off="ion-arrow-swap">
          <ion-content has-header="true" padding="true"overflow-scroll="true">
                <h2>Match Data</h2>
          </ion-content>
      </ion-tab>

      <ion-tab title="Download Data" icon-on="ion-images" icon-off="ion-images">
          <ion-content has-header="true" padding="true"overflow-scroll="true">
            <h2>Export all Data to .csv</h2>
          </ion-content>
      </ion-tab>
  </ion-tabs>


</ion-view>
